body
{
    margin: 0px;
}


.header 
{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.header-logo
{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    
}

.header-links , .hero-secondary-text
{
    font-size: 18px;
    color: #e5e7eb;
}

ul
{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a
{
    text-decoration: none;
    color: inherit;
}

.hero 
{
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    flex: 1 1 auto;
    padding-bottom: 70px;
}

.main-text
{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.hero-text
{
    width: 32%;
}

img
{
    width: 424px;
    height: 220px;
}



.hero-button
{
    background-color: #3882F6;
    color: white;
    border: 0px;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 8px;
}

.main-text , .hero-secondary-text
{
    margin: 0px;
}

.random-section
{
    padding-bottom: 60px;
}

.random-section h3
{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.card-container
{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card
{
    width: 140px;
}

.card-border
{
    border: 3px solid #3882F6;
    height: 140px;
    border-radius: 10px;
}

.card-text
{
    text-align: center;
    margin-top: 5px;
}

.quote-section 
{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 60px;
}

.quote-text
{
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    width: 500px;
    margin-bottom: 0px;
}

.quote-section div
{
    font-weight: bold;
    width: 500px;
    text-align: right;
}

.call-to-action-section
{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.call-to-action
{
    width: 760px;
    background-color: #3882F6;
    display: flex;
    padding-left: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.call-to-action-section button
{
    background-color: #3882F6;
    color: inherit;
    border-color: white;
    text-align: center;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.call-to-action-bold
{
    font-weight: bold;
    margin-bottom: 0px;
}

.call-to-action-text2
{
    margin-top: 0px;
}

.call-to-action-button
{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.footer
{
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}